OFFLINE=true
MAIN=PA
PA_ENABLED=true
ADMINBOX_ENABLED=false
RTT_ENABLED=false
JBOSS_VERSION=jboss-eap-6.2
JBOSS_HOME=/installed 1/jboss-eap-6.2
ORACLE_SYSTEM_PASSWORD=sa
ORACLE_HOST=localhost
ORACLE_PORT=1521
ORACLE_SID_NAME=XE
PA_HOME=/projects/xbg-pa
PA_WAR=pa-web/target/pa-web.war
PA_CONFIG_BASE=/projects/xbg-pa/config/localConfigExample/xbg-pa.conf
PA_CONFIG=/mlp_temp/xbg-pa.conf
ADMINBOX_CONFIG_BASE=/projects/xbg-adminbox/config/local/xbg-pa-adminbox.conf
ADMINBOX_CONFIG=/mlp_temp/xbg-pa-adminbox.conf
CONTENTDIRECTORY_CURRENT=/projects/xbg-pa/pa-web/target/test-resources
CONTENTDIRECTORY_UPLOAD=/projects/xbg-pa/pa-web/target/upload
MAPPINGREGELNDIRECTORY_UPLOAD=/projects/xbg-pa/pa-bundlers/configuration
ADMINBOXUPLOADDIRECTORY=/mlp_temp/adminboxupload
BUNDLER_DOCUMENTPOOLDIRECTORYPATH=/mlp_temp/documentPoolTmp
HOST-NAME=https://localhost:8080
STORAGE_FLYWAY_ADMIN_DATASOURCE_USERNAME=paab
STORAGE_FLYWAY_ADMIN_DATASOURCE_PASSWORD=paab
STORAGE_FLYWAY_APPLICATION_DATASOURCE_USERNAME=paabwork
STORAGE_FLYWAY_APPLICATION_DATASOURCE_PASSWORD=paabwork
FEATURE_EXPORT_AVAILABLE=true
FEATURE_TRANSPORT_AVAILABLE=true
FEATURE_IMPORT_AVAILABLE=true
RTT_HOME=/projects/xbg-rtt
RTT_WAR=xbg-rtt-web/target/xbg-rtt-web.war
RTT_CONFIG_BASE=/projects/xbg-rtt/config/local/xbg-rtt.conf
RTT_CONFIG=/mlp_temp/xbg-rtt.conf
DISABLE-AUTH-FILTER=false
